.test-letter {
    font-size: 19px;
    line-height: 19px;
}

.test-letter-correct {
    color: #99cc00;
}

.test-letter-incorrect {
    /* color: #bf360c; */
    color: #bf360cd9;
}

.test-letter-not-attempted {
    color: black;
}
