.typing-challenge {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.timer-container {
    margin: 16px;
}

.timer {
    font: size 30px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.timer-info {
    margin: 0;
    margin-top: -5px;
    color: #ffb100;
    font-size: 20px;
    text-align: center;
}
.textarea-container {
    margin: 16px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 90%;
}
.textarea-left,
.textarea-right {
    display: flex;
    width: 50%;
    flex-grow: 1;
}
.textarea {
    border-radius: 10px;
    padding: 10px;
    line-height: 28px;
    letter-spacing: 0px;
    font-family: Arial,serif;
    font-size: 19px;
    color: #999999;
    background: #fafafa;
    flex-grow: 1;
    height: 400px;
    width: 100%;
    flex-wrap: wrap;
    overflow: scroll;
    transition: all 0.2s;
    scrollbar-width: none;
}

.textarea:focus {
    outline: none;
}

.textarea::-webkit-scrollbar {
    display: none;
}

.test-paragraph {
    background: #f6fbff;
    border-radius: 10px;
    border: 1px solid #C7D5D9;
}
